<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>网页标题-www.divcss5.com</title>
    <meta name="keywords" content="关键字" />
    <meta name="description" content="此网页描述" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- script到底放哪里比较好呢？ -->
    <!-- http://blog.csdn.net/ybdesire/article/details/49284699 -->
</head>

<body>
    <div id="app">
        {{ message }}
    </div>
    <br>
    <div id="app-2">
        <span v-bind:title="message">
            鼠标悬停几秒钟查看此处动态绑定的提示信息！
        </span>
    </div>
    <br>
    <div id="app-3">
        <p v-if="seen">条件与循环，现在你看到我了,这个例子演示了我们不仅可以把数据绑定到 DOM 文本或特性，还可以绑定到 DOM 结构。</p>
    </div>
    <br>
    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>
    <br>
    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">逆转消息</button>
    </div>
    <br>
    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!'
            }
        });
        var app2 = new Vue({
            el: '#app-2',
            data: {
                message: '真的是有显示的，这个叫v-bind，是vue提供的指令，所有特性/指令都用v-作为前缀 '
            }
        });
        var app3 = new Vue({
            el: '#app-3',
            data: {
                seen: true
            }
        });
        var app4 = new Vue({
            el: '#app-4',
            data: {
                todos: [{
                        text: '学习 JavaScript'
                    },
                    {
                        text: '学习 Vue'
                    },
                    {
                        text: '整个牛项目'
                    }
                ]
            }
        });
        var app5 = new Vue({
            el: '#app-5',
            data: {
                message: 'Hello Vue.js!'
            },
            methods: {
                reverseMessage: function () {
                    this.message = this.message.split('').reverse().join('')
                }
            }
        });
        var app6 = new Vue({
            el: '#app-6',
            data: {
                message: 'Hello Vue!'
            }
        })
    </script>
</body>

</html>